{% extends 'SeerUKAdminModule:Admin:master.html.twig' %}

{% block title %}Editing '{{ article.title }}'{% endblock %}

{% block body %}
    <h2 class="title">
        Editing Article<br />
    </h2>

    <div class="attributes">
        <small>Written by <strong class="text-info">Elliot</strong> on <strong class="text-info">{{ article.created|date('jS F Y, h:ia') }}</strong>.</small>
    </div><br />

    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="form-row">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            <div class="errors">{{ form_errors(form.title) }}</div>
        </div>

        <div class="form-row">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control mono'}}) }}
            <div class="errors">{{ form_errors(form.content) }}</div>
        </div>


        <div class="form-row text-center">
            <input class="btn btn-success" type="submit" value="Save" />
            <a class="btn btn-bordered" href="{{ url('bm_blog_view', {'id': article.id}) }}">Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Allow tab in textareas
        var textareas = document.getElementsByTagName('textarea');
        var count = textareas.length;
        for(i=0;i<count;i++){
            textareas[i].onkeydown = function(e){
                if(e.keyCode==9 || event.which==9){
                    e.preventDefault();
                    var s = this.selectionStart;
                    this.value = this.value.substring(0,this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
                    this.selectionEnd = s+1;
                }
            }
        }
    </script>
{% endblock %}
