{% extends '::master.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <article>
        <h1 class="title">

            {{ article.title }}<br />
            <span class="details">
                Published {{ article.relativePublished }} {# by {{ article.author.username }} #}

                {% if article.categories|length > 0 %}
                    in
                    {% for category in article.categories %}
                        {# Show the categories in a readable manner, i.e. "Category, Category, Category, and Category" #}
                        {% if loop.last %}and {% endif %}<a href="#">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </h1>
        {{ article.content|raw }}
    </article>
{% endblock %}
