<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}{% if block('title') %} &middot; {% endif %}{{ config.get('app.site_name') }} Admin</title>

    <link href='//fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,400italic,700italic,300italic' rel='stylesheet' type='text/css'>
    <link href="{{ asset('assets/core/css/style.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/core/fonts/flaticons-stroke/stroke.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/core/fonts/flaticons-social/social.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/tridentframeworkmodule/fonts/inconsolata/inconsolata.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-hamburger" data-collapse data-target=".pri-navbar-collapse">
                <div class="navicon"></div>
            </a>
            <a href="#" class="navbar-brand">{{ config.get('app.site_name') }} <span class="text-special">Admin</span></a>
        </div>
        <nav class="navbar-collapse pri-navbar-collapse" role="navigation">
            <div class="navbar-right">
                <ul class="navbar-nav clearfix">
                    {# <li><a href="#" class="button button-block button-success"><i class="flaticon stroke add-window-1"></i> Add Article</a></li> #}
                    <li class="dropdown">
                        <a class="navbar-link" href="#" data-dropdown><i class="flaticon stroke paragraph-text-1"></i> Blog <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="navbar-link" href="{{ url('am_blog_article_overview') }}"><i class="flaticon stroke article-3"></i> Articles</a></li>
                            <li><a class="navbar-link" href="#"><i class="flaticon stroke inbox-1"></i> Categories</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="navbar-link" href="#" data-dropdown>
                            <img class="navbar-avatar" src="{{ app.user.email|gravatar(64) }}" />
                            {{ app.user.firstName }} {{ app.user.lastName }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="navbar-link" href="#"><i class="flaticon stroke user-2"></i> Edit Account</a></li>
                            <li><a class="navbar-link" href="{{ url('sm_authentication_logout') }}"><i class="flaticon stroke logout-1"></i> Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block body %}{% endblock %}

    <script src="{{ asset('assets/core/js/scripts.min.js') }}" type="text/javascript"></script>

    {% block javascript %}{% endblock %}
</body>
</html>
